## For-Else Clause: Multiplication Table

for loop with else: In Python, the for loop can be used with an else clause, 
which is a unique feature not found in many other programming languages. 
The else clause in a for loop is executed when the loop completes all iterations without encountering a break statement.. 
It provides a way to perform additional actions or handle specific conditions after the loop has finished iterating.

The general syntax of a for loop with an else clause is as follows:

Let us consider an example: for i in range(1, 10): print(i) break else: 
else part is not executed, because there is break statement in the for loop print("No Break") - result 1

Fill in the missing code in the program below to print a multiplication table up to a maximum of 10 rows. 
Even if the number of rows asked by the user is more than 10, we should limit up to 10 rows and 
print an error message as shown in the Sample Input Output 2.

Input Format

The first line contains an integer x (the number).
The second line contains an integer y (the maximum multiplier).

Constraints

0

Output Format

â€œIf y > 10, print the table only up to 10 rows and then print: Limit Exceeded

Sample Input

9

11

Sample Output

9 * 1 = 9 

9 * 2 = 18

9 * 3 = 27

9 * 4 = 36

9 * 5 = 45

9 * 6 = 54

9 * 7 = 63

9 * 8 = 72

9 * 9 = 81

9 * 10 = 90

rows is limited to 10

Explanation

Example: 2 Here, y = 25 but the limit is 10.

So we print the table only up to 10 rows.

After that, we print "Limit Exceeded".

In [6]:
x = int(input())
y = int(input())

for i in range(1,y+1):
    
    if i <= 10:
        print(f"{x} * {i} = {x*i}")
    
    else:
        print("rows are limited to 10")
        break

 9
 11

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
rows are limited to 10